// Colors

$wht: #fff;
$blk: #000;
$darkgray: #333333;
$lightgray: #b0b7bb;
$lightergray: #eaeaea;
$lightgrayblue: #e8eeef;
$lightblue: #0077b6;
$lighterblue: #6dc1ee;
$navy: #10153f;
$lightlink: #6dc1ee;
