// Fonts

// Google font imports
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Work+Sans:300,400,600&display=swap');

// elements
h1, .h1 {
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: 1.2em;
}
h2, .h2 { 
    font-size: 2.25em;
    font-weight: 100;
    margin-bottom: 1.2em;
}
h3, .h3 { 
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 1.2em;
}
h4, .h4 { 
    font-size: 1.75em;
    font-weight: 100;
    margin-bottom: 1.2em;
}
h5, .h5 { 
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 1.2em;
}
h6, .h6 { 
    font-size: 1.25em;
    font-weight: 100;
    margin-bottom: 1.2em;
}

p{
    margin-bottom: 1.7em;
}

blockquote, .wp-block-quote{
    border-left: 1px solid $lightblue;
    padding: 0.7em 3em;
    margin-bottom: 1.7em;    
}

// //element


// custom font classes

// font sizes
 


// formatting

.text-center    { text-align: center;   }
.text-left      { text-align: left;     }
.text-right     { text-align: right;    }

.all-caps       { text-transform: uppercase }

.formal{
    font-family: "Cinzel", serif;
}

.informal{
    font-family: "Gill Sans", "Work Sans", serif;
}

.light{
    font-weight: 100;
}

b, strong, .bold{
    font-weight: 700;
}

.site-title {
    font-variant: small-caps;
    font-weight: 100;
}

.llp{
    font-size: 0.5em;
    bottom: 0;
}

.site-footer address{
    color: $lightgray;
    font-style: normal;
}

.has-small-font-size{
    font-size: 19.5px;
}
.has-normal-font-size{
    font-size: 22px;
}
.has-large-font-size{
    font-size: 36.5px;
}
.has-huge-font-size{
    font-size: 49.5px;
}

.spaced{
    letter-spacing: 0.2em;
}

.entry-title{
    margin-top: 0em;
    margin-bottom: 0.5em;
    &:after{
        width: 80px;
        left: 0;
        bottom: -0.25em;
        border-bottom: 1px solid $lightblue;
    }
}

.feature-attorney-title{
    font-size: 3em;
    white-space: nowrap;
}

.small-title{
    font-size: 0.65em;
}

.block-cap{
    display: inline-block;
    color: $wht;
    background-color: $navy;
    padding: 0.1em 5px;
}

.title-banner{
    color: $wht;
    background-color: $navy;
    margin: 0;
    padding: 0.4em 1em;
}

// //custom font classes