// Fonts

// Google font imports
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Work+Sans:300,400&display=swap');

.has-small-font-size{
    font-size: 19.5px;
}
.has-normal-font-size{
    font-size: 22px;
}
.has-large-font-size{
    font-size: 36.5px;
}
.has-huge-font-size{
    font-size: 49.5px;
}