// menu burger

.burger {
    z-index: 4;
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    @media all and (min-width: 767px) {
        display: none;
    }
    .svg-icon {
        fill: white;
        transition: 0.2s;
        line {
            transition: 0.2s;
            transform-origin: center;
        }
    }
    &.active {
        .svg-icon {
            line {
                &:first-of-type {
                    transform: translateX(-20%) translateY(20%) rotate(45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:last-of-type {
                    transform: translateX(-20%) translateY(-20%) rotate(-45deg);
                    // fill: $navy !important;
                }
            }
        }
    }
}

.mobile-main-menu{
    padding: 0;
}