// menu burger
.submenu-expand {
    padding: 0;
    .svg-icon {
        fill: white;
        line {
            transition: 0.2s;
            transform-origin: center;
        }
    }
    &.submenu-expanded {
        .svg-icon {
            line {
                &:first-of-type {
                    transform: translateX(-20%) translateY(20%) rotate(45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:last-of-type {
                    transform: translateX(-20%) translateY(-20%) rotate(-45deg);
                }
            }
        }
    }
}

.mobile-main-menu{
    padding: 0;
}