// button components

button:focus{
    opacity: 0.9;
    transform: translateY(1px);
    box-shadow: 0 0 3px 0px #bbb inset, 0 0 3px 0px #bbb;
    transition: 0.25s;
}

button, input[type="submit"]:not(.search-submit) {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em 2em;
    &.secondary{
        border: 2px solid $navy;
        background-color: $navy;
    }
}

button.primary, input[type="submit"]{
    border: none;
    color: white;
    background-color: $navy;
}

input[type="submit"]{
    cursor: pointer;
    
}