// Cards

.card-gallery{
    &.flex{
        justify-content: space-between;
        flex-flow: column;
        @media all and (min-width: 768px){
            flex-flow: row;
        }
    }
    &.grid{
        grid-template-columns: 1fr;
        @media all and (min-width: 768px){
            grid-template-columns: repeat(4, 50%);
        }
    }
    .card{
        margin: 0;
        color: #fff;
        &.half{
            width: 100%;
            @media all and (min-width: 768px){
                width: 50%;
            }
        }
        &.quadrant{
            position: relative;
            display: grid;
            grid-template-areas:    'b b'
                                    'a a';
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr auto;
            @media all and (min-width: 1200px){
                grid-template-rows: 50% 50%;
            }
            &.odd{
                @media all and (min-width: 1200px){
                    grid-template-areas:    '. a'
                                            'b .';
                }
            }
            &.even{
                @media all and (min-width: 1200px){
                    grid-template-areas:    'a .'
                                            '. b';
                }
            }
            &:before{
                z-index:0;
                width: 100%;
                height: 100%;
                background: linear-gradient(135deg, rgba(255,255,255,0) 35%, rgba(255,255,255,0.85) 100%);
            }
            .portrait{
                grid-area: b;
                z-index: 0;
                grid-row-start: 1;
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
                height: 400px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position-y: bottom;
            }
            &.odd{
                &:before{
                    transform: scaleX(-1);
                }
                .portrait{
                    background-position-x: center;
                    @media all and (min-width: 1200px){
                        background-position-x: left;
                    }
                }
            }
            &.even{
                .portrait{
                    background-position-x: center;
                    @media all and (min-width: 1200px){
                        background-position-x: right;
                    }
                }
            }
            figcaption{
                grid-area: a;
                padding: 2px 3em;
                height: 311px;
                background: radial-gradient(black, #232323a3);
                @media all and (min-width: 1200px){
                    background: transparent;
                    height: auto;
                }
            }
        }
    }
}