// Helper classes



.screen-reader-text{
    display: none;
}

.reset-input{
    border: none;
    &:active, &:focus {
        outline: none;
    }
}

.reset-btn{
    background: transparent;
    border: none;
    &:active, &:focus {
        outline: none;
    }
}



hr.short-blue{
    border: none;
    border-bottom: 1px solid $lightblue;
    width: 94px;
}