// Helper classes

.formal{
    font-family: "Cinzel", serif;
}

.screen-reader-text{
    display: none;
}

.reset-input{
    border: none;
    &:active, &:focus {
        outline: none;
    }
}

.reset-btn{
    background: transparent;
    border: none;
    &:active, &:focus {
        outline: none;
    }
}