// global html elements

*{
    box-sizing: border-box;
}


html, body{
    font-family: 'Gill Sans', 'Work Sans', sans-serif;
}

html{
    // scroll-behavior: smooth;
    // overflow-x: hidden;
    background: $navy;
}

body{
    background: $wht;
    min-height: auto !important;
    min-height: initial !important;
    // overflow-x: hidden;
}

a {
    color: $lightblue;
    // text-transform: uppercase;
    .informal{
        text-transform: initial;
    }
    &:hover{
        opacity: 0.85;
    }
    svg{
        fill: $lightblue;
    }
}

li{
    margin-bottom: 0.45em;
}