// global html elements

*{
    box-sizing: border-box;
}


html, body{
    font-family: 'Gill Sans', 'Work Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
    background: $navy;
}

body{
    background: $wht;
    overflow-x: hidden;
}

a {
    color: $lightblue;
    text-transform: uppercase;
    .informal{
        text-transform: initial;
    }
    &:hover{
        opacity: 0.85;
    }
    svg{
        fill: $lightblue;
    }
}

