// footer style

.site-footer{
    grid-area: footer;
    @include dark-theme;
    position: fixed;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
    z-index: 5;
}

.site-footer-whitespace-offset{
    display: block;
    margin-top: 20em;
    width: 100%;
}