// header style

.home, .single-attorney {
    .site-header{
        height: 100vh;
        .site-header-inner{
            height: 120px;
        }
        .center{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .site-title{
                font-size: 64px;
                @media all and (max-width: 767px){
                    font-size: 41px;
                }
            }
            .site-description{
                font-size: 28px;
                color: $wht;
            }
        }
    }
}

.site-header{
    position: relative;
    z-index: 1;
    grid-area: head;
    width: 100%;
    &:before{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(45,45,45,0.2) 60%,rgba(0,0,0,0.6) 100%);
    }
    .site-header-inner{
        z-index: 5;
        display: grid;
        position: relative;
        grid-template-columns: auto 1fr;
        @media all and (min-width: 767px){
            height: 187px;

        }
        align-items: end;
        margin: auto;
        margin-bottom: -35px;
        color: $wht;
        .site-branding-container{
            height: 100px;
            .site-branding{
                display: flex; 
                align-self: center;
                .site-logo{
                    display: inline-block;
                    height: 97px;
                    img{
                        width: auto;
                        height: auto;
                        max-height: 100%;
                    }
                    // @media all and (max-width: 767px){
                    //     height: 60px
                    // }
                }
                .site-title{
                    display: inline-block;
                    margin: auto;
                    font-size: 32px;
                    @media all and (max-width: 992px){
                        // display: none;
                        font-size: 18px;
                    }
                    span{
                        font-size: 20px;
                    }
                }
            }
        } 
    }
            a{
                color: $wht;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
}

.single-attorney{
    .site-header{
        flex-flow: column nowrap;
        height: 51vh;
        @media all and (max-width: 992px){
            height: auto;
        }
        #breadcrumbs{
            text-align: right;
        }
        .attorney-hero{
            display: flex;
            flex-flow: row;
            width: 70%;
            z-index: 1;
            align-self: end;
            margin: auto auto 0;
            padding: 0;
            overflow: hidden;
            @media all and (max-width: 992px){
                flex-flow: column-reverse;
            }
            .title-contact-box{
                color: $wht;
                width: 350px;
                height: auto;
                align-self: end;
                margin: auto 0 0;
                background: linear-gradient(135deg, rgba(171,171,171,0.5662640056022409) 0%, rgba(64,64,64,0.5858718487394958) 70%);
                @media all and (max-width: 992px){
                    width: 100%;
                }
                > * {
                    padding-left: 1em;
                    padding-right: 1em;
                }
                header{
                    color: $blk;
                    height: auto;
                    background: $lightergray;
                    h1{
                        margin: 0;
                        padding: 2px 0 5px;
                        @media all and (max-width: 992px){
                            text-align: center;
                        }
                    }
                    
                }
                .contact-details{
                    grid-template-areas:    'email email'
                                            'phone vcard';
                    grid-template-columns: auto auto;
                    column-gap: 10px;
                    list-style: none;
                    li{
                        font-size: 18px;
                        align-items: center;
                        grid-template-columns: 50px auto;
                        img{
                            height: 24px;
                            justify-self: start;
                        }
                    }
                    .email{
                        grid-area: email;
                    }
                    .phone{
                        grid-area: phone;
                    }
                    .vcard{
                        grid-area: vcard;
                    }

                }
            }
            .attorney-full-hero{
                min-height: 400px;
                height: 100%;
                margin-left: 15%;
                    margin-right: auto;
                    @media all and (max-width: 992px){
                        height: 50vh;
                        min-height: initial;
                        margin-left: auto;
                    }
            }
        }
    }
}

.entry-header.text-center{
    h1:after{
        right: 0;
        margin: auto;
    }
}