// list styles

.list-none {
    list-style: none;
}

// custom image list
.custom-icon-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        font-size: 20px;
        margin-bottom: 1em;
        .inline-icon {
            height: 20px;
            justify-self: center;
            margin-right: 15px;
            margin-top: 2px;
        }
        .line-drop {
            position: relative;
            height: 100%;
            &:before {
                content: "";
                position: absolute;
                width: 2px;
                height: 65%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 15px;
                margin: auto;
                background-color: $navy;
            }
        }
        address {
            position: relative;
            width: 100%;
            padding-left: 2em;
            font-style: normal;
            font-size: 18px;
            &:before {
                content: "";
                position: absolute;
                width: 2px;
                height: 55%;
                top: 1em;
                // bottom: 0;
                left: 0.75em;
                // right: 15px;

                margin: auto;
                background-color: $navy;
            }
        }
    }
}

.single-attorney{
    @media all and (max-width: 992px){
        .container.with-sidebar{
            .sidebar-container{
                width: 90%;
                margin: auto;
                padding: 0;
            }
            .site-main{
                width: 90%;
                margin: 0 auto;
                padding: 0 0.1em;
            }
        }
    }
}

.bio-list-dropdown{
    @media all and (max-width: 992px){
        display: block;
    }
    position: relative;
    width: 100%;
    margin: 1em 0 0.5em;
    padding: 0.55em 0.125em;
    color: $navy;
    background: $wht;
    transition: 0.25s;
    box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.25);
    font-size: 1.85em;
    font-weight: 100;
    font-family: 'Gill Sans', 'Work Sans', sans-serif;
    border: none;
}

.bio-list {
    @media all and (max-width: 992px){
        display: none;
    }
    list-style: none;
    background: #efefff;
    height: 100%;
    padding-left: 0;
    box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.25);
    li {
        margin: 4px 0;
        padding: 0.35em 0.25em;
        background: $wht;
        transition: 0.25s;
        box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.25);
        &:after {
            width: 0;
            height: 100%;
            transition: 0.25s;
            top: 0;
            right: 0;
            background-color: $navy;
        }
        h2 {
            margin: 4px 0;
        }
        &:hover {
            &:after {
                width: 4px;
            }
        }
        &.active,
        &:hover {
            transform: translate(-2px, -2px);
            box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.25);
        }
        &.active {
            &:after {
                width: 9px;
            }
        }
    }
}

.bio-description-section {
    opacity: 0;
    transition: opacity 1.5s;
    font-size: 18px;
    height: 0;
    overflow: hidden;
    color: #606060;
    line-height: 1.35;
    &.active {
        opacity: 1;
        height: auto;
        // transition: opacity 0.75s 0.25s, max-height 0.5s 0.5s;
    }
    h2:first-of-type{
        margin-bottom: 0.9em;
    }

}

.single-attorney {
    .site-main {
        margin-top: 1em;
        box-shadow: 2px 4px 1px 0 rgba(0, 0, 0, 0.25);
        background: white;
        h2{
            margin-top: 0;
        }
    }
}

// Box hover from practices page
.invisi-hover-list {
    position: relative;
    padding: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    // grid-template-columns: repeat(3, 33.33%);
    // grid-template-rows: 333px 333px;
    margin-left: auto;
    margin-right: auto;
    @media all and (max-width: 768px) {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .invisi-box {
        width: 33.33%;
        height: 333px;
        margin: 0;
        @media all and (max-width: 768px) {
            width: 100%;
            height: 125px;
            height: 15vh;
        }
        .fg {
            align-items: center;
            justify-content: center;
            border: 8px solid white;
            z-index: 1;
            position: relative !important;
            width: 100%;
            height: 100%;
            transition: 0.5s;
            h2 {
                z-index: 1;
            }
            &:before {
                z-index: 0;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(
                    45deg,
                    rgba(255, 255, 255, 0) 30%,
                    rgba(255, 255, 255, 0.85) 100%
                );
                transition: 0.5s;
            }
        }
        .bg {
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-size: cover;
            background-position: center;
        }
    }
    &.hover-state {
        a {
            opacity: 1 !important;
        }
        .invisi-box.hover-state {
            .bg {
                opacity: 1;
                z-index: 0;
            }
        }
        .invisi-box:not(.hover-state) {
            .fg {
                background-color: transparent !important;
            }
            .fg:before {
                background: linear-gradient(
                    45deg,
                    rgba(0, 0, 0, 0.1) 0%,
                    rgba(0, 0, 0, 0.15) 50%,
                    rgba(0, 0, 0, 0.1) 100%
                );
            }
        }
    }
}

.featured-posts {
    li, .wp-block-image {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 50px;
            border-bottom: 1px solid $navy;
            left: 0;
            bottom: -1.25em;
        }
        &:last-of-type:after {
            border-bottom: none;
        }
    }
}

.spaced-list{
    li{
        margin-bottom: 0.5em;
    }
}