// site navigation styles

@import "navigation/burger";
@import "navigation/subnav";
@import "navigation/feature_nav";

.site-header-nav-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    // padding-bottom: 0.75em;
    @media all and( max-width: 766px) {
        margin-bottom: 1.4em;
        position: absolute;
        right: 0;
        bottom: 0;
        &.menu-is-active {
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .main-navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .main-menu {
            display: flex;
            li {
                position: relative;
                margin: 1em 0.35em 0;
                padding-bottom: 0.25em;
            }
            font-size: 0.9em;
            @media all and (max-width: 1200px) {
                font-size: 0.85em;
                padding-bottom: 0.25em;
            }
            @media all and (max-width: 992px) {
                font-size: 0.65em;
                padding-bottom: 0.25em;
            }
            @media all and (max-width: 766px) {
                position: fixed;
                flex-direction: column;
                font-size: 1.35em;
                font-weight: 600;
                top: -15px;
                right: -150%;
                width: 400px;
                height: 100vh;
                overflow: hidden;
                overflow-y: auto;
                margin-top: 0;
                padding-right: 2em;
                padding-bottom: 2em;
                transition: 0.4s;
                background-color: white;
                li {
                    margin-left: 1em;
                }
                &:before {
                    content: "";
                    position: relative;
                    width: 81.5%;
                    height: 4.65em;
                    background-color: $navy;
                }
                a {
                    color: $navy;
                }
                &.open {
                    right: -1.25em;
                }
            }
        }
    }
}

.home {
    @media all and (max-width: 766px) {
        .site-header-nav-container {
            margin-bottom: 3em;
        }
    }
}
