// site navigation styles

@import "navigation/burger";
@import "navigation/subnav";
@import "navigation/feature_nav";

.site-header-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 0.75em;
    @media all and( max-width: 766px) {
        margin-bottom: 22px;
        position: absolute;
        right: 0;
        &.menu-is-active{
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    .main-navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .main-menu {
            display: flex;
            li {
                position: relative;
                margin: 1.0em 0.35em;

            }
            @media all and (max-width: 992px) {
                font-size: 0.8em;
                padding-bottom: 0.25em;
            }
            @media all and (max-width: 766px) {
                position: fixed;
                flex-direction: column;
                font-size: 1.35em;
                font-weight: 600;
                top: -15px;
                right: -150%;
                width: 400px;
                height: 100vh;
                overflow: hidden;
                overflow-y: auto;
                margin-top: 0;
                padding-right: 2em;
                padding-bottom: 2em;
                transition: 0.4s;
                background-color: white;
                li{
                    margin-left: 1em;
                }
                &:before {
                    content: "";
                    position: relative;
                    width: 73%;
                    height: 3.8em;
                    background-color: $navy;
                }
                a {
                    color: $navy;
                }
                &.open {
                    right: -1.25em;
                }
            }
        }
    }
}
