// search bar

.search-area {
    position: relative;
    width: auto;
    display: flex;
    margin: 0 15px 6px;
    @media all and (min-width: 768px) {
        position: relative;
        width: auto;
        bottom: auto;
        bottom: initial;
        right: auto;
        right: initial;
    }
    .search-form {
        display: inline-flex;
        justify-content: flex-end;
        width: auto;
        @media all and (min-width: 768px) {
            width: auto;
        }
        label {
            display: flex;
        }
        .search-field {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            width: 0;
            border: none;
            color: $wht;
            border-bottom: 2px solid $wht;
            -webkit-appearance: none !important;
            -webkit-border-radius: 0;
            border-radius: 0;
            background: transparent;
            box-shadow: 0 -12px 10px 0 rgba(0, 0, 0, 0.25) inset;
            padding: 6px 0 2px;
            transition: 0.25s;
            @media all and (min-width: 767px) {
                width: 100px;
            }
            @media all and (min-width: 1200px) {
                width: 160px;
            }
            &::placeholder {
                color: white;
                font-style: italic;
            }
            &:active,
            &:focus {
                outline: none;
                box-shadow: 0 -25px 10px 0 $blk inset;
            }
        }
        .search-submit {
            background: resolve("search.png") no-repeat center/contain;
            text-indent: -9999px;
            cursor: pointer;
            border: none;
            @media all and (max-width: 768px) {
                margin-top: 0px;
                margin-left: 5px;
                padding: 8px 12px;
                flex-shrink: 0;
            }
        }
        &.mobile-expand {
            .search-field {
                width: 200px;
                // padding: 4px 1px;
                padding-left: 1em;
                margin-right: 0.5em;
                background: rgba(0, 0, 0, 0.85);
                box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.85) inset,
                    0 0 5px 2px rgba(0, 0, 0, 0.85);
            }
        }
    }
}
.search-area {
    @media all and (max-width: 768px) {
        &.menu-is-active {
            .search-submit {
                background: resolve("search.svg") no-repeat center/contain;
                margin-left: 9px;
                padding: 8px 16px;
            }
            .mobile-expand {
                .search-field {
                    color: $navy;
                    padding-left: 1em;
                    background-color: white;
                    box-shadow: 0 0 2px 2px #fff inset,
                        0 0 5px 2px rgba(0, 0, 0, 0.85);
                    &::placeholder {
                        color: $navy;
                    }
                }
            }
        }
    }
}
