// sections

.half-height{
    @media all and (min-width: 768px){
        min-height: 50vh;
    }
}

.qtr-height{
    @media all and (min-width: 768px){
        min-height: 25vh;
    }
}

.duo-split{
    display: grid;
    @media all and (min-width: 992px){
        grid-template-columns: 1fr 1fr;
    }
    .split-section{
        padding: 30px 45px 70px;
        &:first-of-type .inner-contain{
            @media all and (min-width: 768px){
                margin-left: auto;
                margin-right: 5em;
            }
        }
        &:last-of-type .inner-contain{
            @media all and (min-width: 768px){
                margin-left: 5em;
                margin-right: auto;
            }
        }
        .inner-contain{
            max-width: 550px;
        }
    }
}

.container {
   max-width: 1440px;
   margin: auto; 
   &.with-sidebar{
       display: grid;
       
       grid-column-gap: 2.0%;
       &.right{
        grid-template-areas: 'main side';
        grid-template-columns: auto 29%;
       }
       &.left{
        grid-template-areas: 'side main';
        grid-template-columns: 29% auto;
       }
       main{
           grid-area: main;
       }
       .sidebar-container{
           grid-area: side;
       }
   }
}

