// sections

.half-height{
    @media all and (min-width: 768px){
        min-height: 50vh;
    }
}

.qtr-height{
    @media all and (min-width: 768px){
        min-height: 25vh;
    }
}

.duo-split{
    display: grid;
    @media all and (min-width: 992px){
        grid-template-columns: 1fr 1fr;
    }
    .split-section{
        padding: 30px 45px 70px;
        &:first-of-type .inner-contain{
            @media all and (min-width: 768px){
                margin-left: auto;
                margin-right: 5em;
            }
        }
        &:last-of-type .inner-contain{
            @media all and (min-width: 768px){
                margin-left: 5em;
                margin-right: auto;
            }
        }
        .inner-contain{
            max-width: 550px;
        }
    }
}

.container {
   max-width: 1440px;
   margin: auto; 
   &.with-sidebar{
       display: grid;
       grid-column-gap: 2.0%;
       &.right{
            grid-template-areas: 'main side';
            grid-template-columns: auto 26%;
            @media all and (max-width: 992px){
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                grid-template-areas: 
                                    'main main' 
                                    'side side';
            }
       }
       &.left{
            grid-template-areas: 'side main';
            grid-template-columns: 26% auto;
            @media all and (max-width: 992px){
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                grid-template-areas: 
                                    'side side' 
                                    'main main';
            }
       }
       main{
           grid-area: main;
       }
       .sidebar-container{
           grid-area: side;
           @media all and (max-width: 992px){
            padding: 0 2em;
           }
       }
   }
}

.page-template-page-single-practice{
    article{
        flex-direction: column;
    }
    .practice-image{
        margin-right: 0;
        img{
            width: 650px;
            @media all and (max-width: 992px){
                width: 100%;
            }
        }
        figcaption{
            font-style: italic;
            background: $lightergray;
            margin-top: -5px;
            padding: 20px;
        }
    }
}