// sections

.half-height{
    @media all and (min-width: 768px){
        min-height: 50vh;
    }
}


.duo-split{
    display: grid;
    @media all and (min-width: 768px){
        grid-template-columns: 1fr 1fr;
    }
    section{
        padding: 30px 45px 70px;
    }
}