// sidebar component

.sidebar {
    color: $navy;
    background-color: $lightgrayblue;
    .media_image-3{
        img{
            width: 100%;
        }
    }
    .location-img{
        position: relative;
        display: flex;
        img{
            width: 50%;
            object-fit: cover;
        }
        .map{
            position: relative;
            width: 50%;
            height:100%;
            &>.leaflet-map{
                // height: 300px !important;
                @media all and (max-width: 992px){
                    height: 540px !important;
                }
            }
        }
    }
    .widget-title{
        text-align: center;
        font-size: 2em;
        margin: 0;
        padding: 0.25em 0;
        color: white;
        background: $navy;
    }

    .widget-box{
        padding: 1em 1.5em;
    }
}